@tailwind base;
@tailwind components;
@tailwind utilities;

.homePage {
  background: radial-gradient(transparent, black), url("../image/droplet.jpg");
  background-size: cover;
  background-position: center;
}
@layer components {
  .grad {
    @apply bg-gradient-to-r from-pink-600 to-indigo-500;
  }
  .blurEffect {
    @apply backdrop-blur-[4px] bg-zinc-900/40;
  }
  .windInfoDiv {
    @apply flex items-center gap-1.5 text-slate-400;
  }
}

.dropMenu {
  width: full;
  padding: 8px 0px;
  padding-left: 8px;
  color: #475569;
  font-size: large;
  font-weight: 600;
  text-transform: capitalize;
}
.dropMenu:hover {
  color: #e2e8f0;
  cursor: pointer;
}
