@tailwind base;
@tailwind components;
@tailwind utilities;

.homePage {
  background: radial-gradient(transparent, black), url("../image/droplet.jpg");
  background-size: cover;
  background-position: center;
}
@layer base {
  .grad {
    @apply bg-gradient-to-r from-pink-600 to-indigo-500;
  }
  .blurEffect {
    @apply backdrop-blur-[4px] bg-zinc-900/40;
  }
  .windInfoDiv {
    @apply flex items-center gap-1.5 text-slate-400;
  }
}
